:root {
  --Background:  rgb(240, 227, 255);;
  --ColorClaro: #efbedd;
  --ColorWhiteGray: #e6dddd;
  --ColorLilas: #f988ff;
  --BackgroundSide: #b99ac3;
  --BackgroundRight: #e8d0df;
  --H1: #501557;
  --A: #8d4297;
  --AHOVER: #a24cad;
  --Button: #1f1879;
}

* {

  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
 
  overflow-x: hidden;
 
}

h1 {
  color: var(--H1);
}

body {
  background-color: var(--Background);

}

a {

  color: inherit;
  text-decoration: none;
}