.area {
    background-color: rgba(255, 0, 0, 0.2);
    width: 200px;
    height: 200px;
    border-radius: 20px;
    padding: 10px 10px;
    border-width: 2px;

    h2 {
        color: rgba(253, 239, 239, 0.952);
        text-align: center;
    }
}