.area {
    background-color: #8bc24c73;
    height: 100%;
    padding: 10px;
    
    h2 {
        color: rgba(0, 0, 0, 0.952);
        text-align: center;
    }

    input {
        padding: 5px;
        width: 100%;
        text-align: center;
        border: none;
        font-size: 1rem;
        outline: none;
        
    }
}

.line {
    width: 100%;
    background-color: red;
}