.container {
    position: absolute;
    background-color: rgb(167, 167, 167);
    width: 250px;
    min-height: 250px;
    height: auto;
    display: flex;
    flex-direction: column;
    padding: 1rem;
    transform: translate(-50%);

    h1 {
        font-size: 1rem;
    }
}

.containerButtonClose {

    display: flex;
    flex-direction: row;
    justify-content: flex-end;

    button {

        width: 20px;
        height: 20px;
    }
}