.subprocesso {
    background-color: #FFEB3B;
    
    height: 100%;
    
    h2 {
        font-size: 10px;
        color: black;
        text-align: center;
    }
    
    input{
        font-size: 0.5rem;
        padding: 2px;
        width: 100%;
        text-align: center;
        border: none;
        outline: none;
        
    }
}