.area {
    background-color: rgba(255, 0, 0, 0.2);
    width: 80px;
    height: 80px;

    h2 {
        font-size: 10px;
        color: rgba(253, 239, 239, 0.952);
        text-align: center;
    }
    
    input{
        font-size: 0.5rem;
        padding: 2px;
        width: 100%;
        text-align: center;
        border: none;
    }
}